.env.*.php
.env.php
.env
.env.backup
.phpunit.result.cache
db
server/youtubelike/node_modules
server/youtubelike/public/hot
server/youtubelike/public/storage
server/youtubelike/storage/*.key
server/youtubelike/vendor
server/youtubelike/storage/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
